<html>
<head>
  <style type="text/css">
      body, div, table, thead, tbody, tfoot, tr, th, td, p {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          font-size: x-small
      }

      a.comment-indicator:hover + comment {
          background: #ffd;
          position: absolute;
          display: block;
          border: 1px solid black;
          padding: 0.5em;
      }

      a.comment-indicator {
          background: red;
          display: inline-block;
          border: 1px solid black;
          width: 0.5em;
          height: 0.5em;
      }

      comment {
          display: none;
      }
  </style>
</head>
<body>
<table cellpadding="5" border="0" width="100%">
  <tr>
    <td height="40" colspan="8" align="left"><b><font face="Trebuchet MS" size=6 color="#A3238E">Users Database</font></b></td>
    <td> </td>
  </tr>
  <tr>
    <td colspan="8"><br>
      <image src="https://hh.ru/employer-logo/2766448.png" width=200 height=200 hspace=18 vspace=12></image>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td width="10000"></td>
  </tr>
</table>
<table cellspacing="0" border="1" width="100%">
  <tr bordercolor="#000000">
    <td height="30" align="center" bgcolor="#999999">
      <b><font face="Trebuchet MS" size=5 color="#000000">id</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Name</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Surname</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Email</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Phone</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Website</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Price</font></b></td>
    <td align="center" bgcolor="#999999"><b><font face="Trebuchet MS" size=5 color="#000000">Status</font></b></td>
  </tr>
  <tr>
    <td height="30" align="center" bgcolor="#CCCCCC" sdval="3" sdnum="2057;"><font face="Trebuchet MS" size=4>3</font>
    </td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>Jim</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>Moriarty</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>seemeinacrown@honey.com</font></td>
    <td align="center" bgcolor="#CCCCCC" sdval="666666666" sdnum="2057;">
      <font face="Trebuchet MS" size=4>666-666-666</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>www.jm.uk</font></td>
    <td align="center" bgcolor="#CCCCCC" sdval="42" sdnum="2057;"><font face="Trebuchet MS" size=4>42</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>dead</font></td>
  </tr>
  <tr>
    <td height="30" align="center" sdval="5" sdnum="2057;"><font face="Trebuchet MS" size=4>5</font></td>
    <td align="center"><font face="Trebuchet MS" size=4>Sebastian</font></td>
    <td align="center"><font face="Trebuchet MS" size=4>Moran</font></td>
    <td align="center"><font face="Trebuchet MS" size=4>killerqueen@honey.com</font></td>
    <td align="center" sdval="666666666" sdnum="2057;"><font face="Trebuchet MS" size=4>666-666-666</font></td>
    <td align="center"><font face="Trebuchet MS" size=4>www.jm.uk</font></td>
    <td align="center" sdval="42" sdnum="2057;"><font face="Trebuchet MS" size=4>42</font></td>
    <td align="center"><font face="Trebuchet MS" size=4>alive</font></td>
  </tr>
  <tr>
    <td height="30" align="center" bgcolor="#CCCCCC" sdval="13" sdnum="2057;"><font face="Trebuchet MS" size=4>13</font>
    </td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>Test</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>Test</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>test@test.com</font></td>
    <td align="center" bgcolor="#CCCCCC" sdval="666666666" sdnum="2057;">
      <font face="Trebuchet MS" size=4>666-666-666</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>www.test.uk</font></td>
    <td align="center" bgcolor="#CCCCCC" sdval="42" sdnum="2057;"><font face="Trebuchet MS" size=4>42</font></td>
    <td align="center" bgcolor="#CCCCCC"><font face="Trebuchet MS" size=4>test</font></td>
  </tr>
</table>
</body>
</html>