<div>
    <div>
        <h1 style="font-size: 20px;">Users Database</h1>
        <table style="border-collapse: collapse;
            width: 100%;">
            <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">id
                </th>
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">Name
                </th>
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">Username
                </th>
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">Email
                </th>
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">Phone
                </th>
                <th style="padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #cccccc;
            color: #FFFFFF;">Website
                </th>
            </tr>
            </thead>
            <tbody>
            <tr style="background-color: #f2f2f2;">
                <td style="border: 1px solid #ddd;
            padding: 8px;">1
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">Test
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">Test
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">test@test.test
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">71111111111
                </td>
                <td style="border: 1px solid #ddd;
                padding: 8px;">www.test.test
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd;
            padding: 8px;">2
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">Hello
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">Hello
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">hello@bye.bye
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">78888888888
                </td>
                <td style="border: 1px solid #ddd;
            padding: 8px;">www.hello.hello
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
